.calenderItem {
  width: 100%;
  padding: 8px;
  background: #ccc;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: #1677ff;
}

.calenderItem h5,
.calenderItem h6 {
  margin: 0 !important;
  padding: 0 !important;
  color: #fff;
}

.calenderContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.actionContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10px;
}

.collapseContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}